<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"
isELIgnored="false"
%>
<!DOCTYPE html>
<html>
<body>
Hello World of Spring!
<br><br>
Student name: ${param.studentName}
</body>
</html>